# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
src-tauri/target/
src-tauri/Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
